<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{msg}}</p>
        <h2>Welcome to the Help Section</h2>

        <p>Our weather app is designed to provide you with accurate and up-to-date weather information. Below, you'll
            find helpful details on how to navigate and make the most of our app's features.</p>

        <h3>App Features</h3>
        <p>Our weather app offers a range of features to help you stay informed about the weather conditions:</p>
        <ul>
            <li>Current weather conditions: Get real-time updates on temperature, humidity, wind speed, and more.</li>
            <li>Weather forecasts: Access reliable forecasts for the upcoming days.</li>
        </ul>

        <h3>Search Functionality</h3>
        <p>To find weather information for a specific location, simply enter the city name or postal code in the search
            bar. 
        </p>

        <h3>Weather Data</h3>
        <p>Our app provides temperature in Celsius by default.</p>

        <h3>Troubleshooting</h3>
        <p>If you encounter any issues with the app, here are some troubleshooting tips:</p>
        <ul>
            <li>Ensure that you have a stable internet connection for accurate weather updates.</li>
            <li>Try clearing the app cache or restarting your device to resolve any performance issues.</li>
            <li>If failed to find location, Try with full address or nearby major cities name</li>
            <li>If you continue to experience problems, please reach out to our support team for assistance. You can
                contact us at gobindmishra23@gmail.com .</li>
        </ul>

        <p>Thank you for using our weather app. We hope it provides you with all the information you need to plan your
            day effectively!</p>

    </div>
    {{>footer}}
</body>

</html>