<%- include('header') -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dicta, ratione veniam dolorum, inventore exercitationem voluptatibus impedit libero doloremque aperiam repellendus repudiandae repellat alias. Necessitatibus repudiandae magni tempore odit quod.</p>

<%- include('footer') -%>