
h1{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
.container{
    width: 75%;
    height: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}
.colorButton{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 200px;
}

.pickColor{
    padding: 8px;
    background-color: rgb(97, 197, 97);
    border:rgb(97, 197, 97);
    color: white;
    width: 100px;
    margin: 30px;
}