.dialog-background {
  background-color: rgb(0 0 0 / 30%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.dialog {
  background-color: white;
  padding: 0 50px 25px;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
}

#button-container,
.dialog p {
  display: flex;
  justify-content: space-around;
  margin: 15px 20px;
  font-size: 20px;
}

#button-container {
  width: 100%;
}

#button-container button {
  width: 90px;
  height: 35px;
  padding: 5px 15px;
  font-size: small;
  font-weight: bold;
  text-align: center;
}

.close-container {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dialog-close {
  background-color: transparent;
  border: none;
  margin: 10px;
  padding-inline: 5px;
  font-size: 17px;
  position: relative;
  left: 50px;
  top: 2px;
  opacity: 0.6;
  cursor: pointer;
}
