nav {
  margin-bottom: 20px;
}

*::-webkit-scrollbar { width: 0 !important; display: none}

nav {
  display: flex;
  justify-content: space-around;
}

.btn {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 8px;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  background-color: black;
}

.main-page {
  width: 100%;
  color: white;
  display: flex;
  z-index: 1;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.btn-anime {
  color: #2496ed;
  background-color: #191919;
  justify-content: space-around;
  font-weight: bolder;
  border: #b500ff 2px solid;
}

.btn-anime-2 {
  color: #2496ed;
  background-color: #191919;
  justify-content: space-around;
  font-weight: bolder;
  border: #b500ff 2px solid;
  transition: transform 300ms ease-in-out;
}

.btn-anime-2:hover {
  border: #2496ed 2px solid;
  background-color: #2496ed;
  color: #b500ff;
  transform: scale(1.1);
}

.btn-anime:hover {
  border: #2496ed 2px solid;
  background-color: #2496ed;
  color: #b500ff;
}

.btn-manga {
  color: #d168a7;
  justify-content: space-around;
  font-weight: bolder;
  background-color: #191919;
  border: #b500ff 2px solid;
}

.btn-manga:hover {
  border: #d168a7 2px solid;
  background-color: #d168a7;
  color: #b500ff;
}

.btn-youtube-game{
  color: #fe1580;
  background-color: #191919;
  justify-content: space-around;
  font-weight: bolder;
  border: #b500ff 2px solid;
}

.btn-youtube-game:hover {
  border:#fe1580 2px solid;
  background-color: #fe1580;
  color: #b500ff;
}

.btn-javapoint{
  color: #fe1580;
  background-color: #191919;
  justify-content: space-around;
  font-weight: bolder;
  border: #b500ff 2px solid;
  transition: transform 300ms ease-in-out;
}

.btn-javapoint:hover {
  border:#fe1580 2px solid;
  background-color: #fe1580;
  color: #b500ff;
  transform: scale(1.1);
}

.btn-youtube-linux {
  color: #830d75;
  background-color: #191919;
  justify-content: space-around;
  font-weight: bolder;
  border: #b500ff 2px solid;
}

.btn-youtube-linux:hover {
  border: #830d75 2px solid;
  background-color: #830d75;
  color: #b500ff;
}

.btn-youtube-tech {
  color: #00ff88;
  background-color: #191919;
  justify-content: space-around;
  font-weight: bolder;
  border: #b500ff 2px solid;
}

.btn-youtube-tech:hover {
  border: #00ff88 2px solid;
  background-color: #00ff88;
  color: #b500ff;
}

.btn-tutorialspoint {
  color: #00ff88;
  background-color: #191919;
  justify-content: space-around;
  font-weight: bolder;
  border: #b500ff 2px solid;
  transition: transform 300ms ease-in-out;
}

.btn-tutorialspoint:hover {
  border: #00ff88 2px solid;
  background-color: #00ff88;
  color: #b500ff;
  transform: scale(1.1);
}

.active {
    transform: scale(1.3);
}

.video-box {
    margin-left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Channel-title {
    margin: 10px 20px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
}
.video-box h2 {
    font-size: 16px;
    padding: 10px;
    color: white;
    font-weight: bolder;
}
iframe {
    width: 400px;
    height: 200px;
    border: transparent;
    margin-right: 20px;
    border-radius: 4px;
}

.container-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.container-images a {
  text-decoration: none;
}

figcaption {
  margin-top: 10px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

.container-images img {
  width: 200px;
  height: 283px;
}

.anime-thumbnail {
  margin: 10px 30px;
}
