header{
    background: url(img/img1.jpg) center no-repeat fixed;
    height: 100vh;
}

.newsletter{
    background: url(img/img2.jpg) center no-repeat fixed;
}

header, .newsletter{
    background-size: cover;
    position: relative;
}

/* Add background overlay */
header::before, .newsletter::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

#navbar{
    transition: 0.5s;
}

@media screen and (max-height: 400px){
    header{
        height: 35em;
    }
}