*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --color-primary:#6c66d4;
    --color-success:#00bf8e;
    --color-warning:#f7c94b;
    --color-danger:#f75842;
    --color-white:#fff;
    --color-light:rgba(255,255,88,66,0.4);
    --color-balck:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;

    --container-width-lg:76%;
    --conatiner-width-md:90%;

    --transition:all 400ms ease;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    background: var(--color-bg);
    color:var(--color-white);
}
.container{
    width:var(--container-width-lg);
    margin:0 auto;
}
section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
a{
    color:var(--color-white);
}
img{
    width:100%;
    display: block;
    object-fit:cover;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    color:var(--color-balck);
    padding:1rem 2rem;
    border:1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.ones{
    margin-top: 1rem;
}
.btn:hover{
    background: transparent;
    color:var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}
nav{
    background: transparent;
    width:100vw;
    height: 5rem;
    position: fixed;
    top:0;
    z-index: 11;
    background:var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.nav_container{
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav_menu{
    display: flex;
    justify-content: center;
    gap:4rem;
}
.nav_menu a{
    font-size: 0.9rem;
    transition:var(--transition);
}
.nav_menu a:hover{
    color:var(--color-bg2);

}
header{
    position: relative;
    top:5rem;
    height: 75vh;
    overflow: hidden;
    margin-bottom: 5rem;
}
.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:5rem;
    height: 100%;
}
.header_left p{
    margin:1rem 0 2.4rem;
}
.courses{
    margin-top: 8rem;
}
.courses_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
}
.course{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
}
.course:hover{
    background:transparent;
    border-color: var(--color-primary);
}
.course_info{
    padding: 2rem;
}
.course_info p{
    margin:1.2rem 0 2rem;
    font-size: 0.9rem;
}
footer{
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}
.footer_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5rem;
}
.footer_container div h4{
    margin-bottom: 1.2rem;
}
.footer_1{
    margin:0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer_socials{
    display: flex;
    gap:1rem;
    font-size:1.2rem ;
    margin-top: 2rem;
}

