* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

textarea {
  height: 500px;
  width: 1000px;
  color: black;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 20px;
  margin-bottom: 25px;
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7d1d1, #ffedb0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

textarea:focus {
  background-color: #5d54a4;
  color: rgb(143, 139, 139);
}

.controls-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-wrapper > * {
  margin-right: 25px;
}

.controls-wrapper label {
  font-size: 25px;
  margin-right: 8px;
}

.controls-wrapper input {
  padding: 7px 15px;
  outline: 0;
  border: 0;
  color: white;
  background-color: #5d54a4;
  font-size: 20px;
}

.controls-wrapper button {
  background: none;
  border: none;
  outline: none;
  color: white;
  background-color: #5d54a4;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}
