body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #995C68;
    overflow: hidden;
}


.cake1 {
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

/* ============================================== BASE
  */
.cake1:after {
    background: #ebe3e1;
    border-radius: 100px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 2px;
}

/* ============================================== Candle
  */
.velas {
    background: #ffffff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.5px;
    margin-top: -8.333333333333334px;
    width: 5px;
    height: 16.666666666666668px;
}

.velas:after,
.velas:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.2222222222222223px;
}

.velas:after {
    top: 25%;
    left: 0;
}

.velas:before {
    top: 45%;
    left: 0;
}

/* ============================================== Fire
  */
.fuego {
    border-radius: 100%;
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -3.3333333333333335px;
    width: 6.666666666666667px;
    height: 12.5px;
}

.fuego:nth-child(1) {
    -webkit-animation: fuego 2s infinite;
}

.fuego:nth-child(2) {
    -webkit-animation: fuego 1.5s infinite;
}

.fuego:nth-child(3) {
    -webkit-animation: fuego 1s infinite;
}

.fuego:nth-child(4) {
    -webkit-animation: fuego 0.5s infinite;
}

.fuego:nth-child(5) {
    -webkit-animation: fuego 0.2s infinite;
}

/* ============================================== Animation Fire
  */
@-webkit-keyframes fuego {
    0% {
        background: rgba(254, 248, 97, 0.5);
        -webkit-transform: translateY(0) scale(1);
    }

    50% {
        background: rgba(255, 50, 0, 0.1);
        -webkit-transform: translateY(-20px) scale(0);
    }

    100% {
        background: rgba(254, 248, 97, 0.5);
        -webkit-transform: translateY(0) scale(1);
    }
}

/* ============================================== Frosting
  */
.cobertura {
    background: #ece7e3;
    border-radius: 50px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -27.77777777777778px;
    margin-top: -5px;
    width: 55.55555555555556px;
    height: 12.5px;
    z-index: 10;
}

.cobertura:after,
.cobertura:before {
    background: #ece7e3;
    border-radius: 100px;
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
}

.cobertura:after {
    top: 6.666666666666667px;
    right: 14.285714285714286px;
}

.cobertura:before {
    top: 10px;
    right: 9.090909090909092px;
}

/* ============================================== BIZCOCHO
  */
.bizcocho {
    background: #6d3826;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 33.333333333333336px;
}

.bizcocho:after,
.bizcocho:before {
    background: rgba(236, 231, 227, 0.6);
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
}

.bizcocho:after {
    top: 30%;
    left: 0;
}

.bizcocho:before {
    top: 60%;
    left: 0;
}


.cake1 {
    left: 200px;
    top: 8%;
}


/* ###############Media Queries##################### */
@media (max-width:768px) {
    #birthday-cake {
       margin-right: 30px;
    }
    .cake1 {
        left: 150px;    
        top: 6%;
    }
}





#birthday-cake {
    position: relative;
    top: 50px;
    left: 0;
}

#birthday-cake:before {
    content: "";
    position: absolute;
    background-color: #ede0d4;
    width: 400px;
    height: 140px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -10%);
    box-shadow: inset -2px -5px #e6ccb2;
}

.cake {
    position: absolute;
    background-color: #ddb892;
    width: 350px;
    height: 130px;
    transform: translate(-50%, -60%);
}

.cake:before,
.cake:after {
    content: "";
    position: absolute;
}

.cake:before,
.middle,
.middle:before {
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    width: 350px;
    height: 50px;
}

.cake:before {
    background-color: #ddb892;
    top: 130px;
}

.cake:after {
    background-color: #b08968;
    width: 350px;
    height: 30px;
    top: 50px;
}

.middle {
    position: absolute;
    background-color: #b08968;
    top: 80px;
    z-index: 1;
}

.middle:before {
    content: "";
    position: absolute;
    background-color: #ddb892;
    top: -35px;
}

.top {
    position: absolute;
    background-color: #7f5539;
    width: 350px;
    height: 90px;
    border-radius: 50%;
    z-index: 2;
    top: -45px;
    box-shadow: inset -5px -1px #fff, inset -70px 2px rgba(255, 255, 255, .1);
}

.chocs {
    position: absolute;
    width: 55px;
    height: 50px;
    background-color: #7f5539;
    top: 0;
    z-index: 1;
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    box-shadow: 49px 20px #7f5539, 98px 25px #7f5539, 147px 30px #7f5539, 196px 25px #7f5539, 245px 20px #7f5539, 295px 0 #7f5539, 0px 4px #fff, 49px 24px #fff, 98px 29px #fff, 147px 34px #fff, 196px 29px #fff, 245px 24px #fff, 295px 4px #fff;
}

.chocs:before {
    content: "";
    position: absolute;
    width: 175px;
    height: 180px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 100% 0% 100% 0% / 0% 72% 28% 100%;
    left: 175px;
    top: 0;
}

.candles {
    position: absolute;
    width: 30px;
    height: 80px;
    background-color: #0081a7;
    top: -160px;
    left: -20px;
    box-shadow: 50px 20px #0081a7, -50px 20px #0081a7;
}

.candles:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 10px;
    background-color: #0081a7;
    border-radius: 50%;
    top: -5px;
    box-shadow: 0 80px #0081a7, -50px 20px #0081a7, -50px 100px #0081a7, 50px 20px #0081a7, 50px 100px #0081a7, inset 2px -1px #fff;
}

.candles:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 10px;
    border-radius: 50%;
    top: 15px;
    left: 50px;
    box-shadow: inset 2px -1px #fff;
}

.shadows {
    position: absolute;
    width: 30px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 2px -1px #fff;
    left: -50px;
    top: 15px;
}

.shadows:before {
    content: "";
    position: absolute;
    background-color: #333;
    width: 1.5px;
    height: 15px;
    left: 14.5px;
    top: -10px;
    box-shadow: 50px -20px #333, 100px 0 #333;
}

.shadows:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 90px;
    left: 15px;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 50px -20px rgba(255, 255, 255, .1), 100px 0 rgba(255, 255, 255, .1);
    border-radius: 0% 100% 50% 50% / 100% 6% 10% 0%;
}


.flame,
.flame:before,
.flame2,
.flame2:before,
.flame3,
.flame3:before {
    position: absolute;
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
}

.flame,
.flame3,
.flame2 {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    z-index: 4;
    background-color: rgba(252, 191, 73, .8);
    transition: .5s;
    animation: flame .5s infinite;
}

.flame {
    top: -40px;
}

.flame2,
.flame3 {
    top: -20px;
}

.flame2 {
    left: -50px;
}

.flame3 {
    left: 50px;
}

.flame:before,
.flame2:before,
.flame3:before {
    content: "";
    background-color: rgba(247, 127, 0, .4);
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
}


@keyframes flame {

    0%,
    25%,
    100% {
        transform: scaleY(1) rotate(-45deg);
    }

    50%,
    75% {
        transform: scaleY(1.1) rotate(-45deg);
    }
}

.text,
.text2 {
    position: absolute;
    color: white;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
}

.text {
    width: 350px;
    font-size: 40px;
    left: -140px;
    top: 100px;
    z-index: -1;
    transition: .3s;
    opacity: 0;
}

.text2 {
    font-size: 25px;
    width: 300px;
    top: 105px;
    left: -140px;
}