/* #################Letter Page Styling############################ */

.letter
{
  background: #995C68;
}

/* ###############LOGO CSS################## */
@import url(https://fonts.googleapis.com/css?family=Lato:300italic);

html,
body {
  height: 100%;
}



.cake {
  position: absolute;
  
  margin-left: 5px;
  margin-top: 5px;
  width: 100px;
  height: 100px;
}
/* ============================================== BASE
*/
.cake:after {
  background: #ebe3e1;
  border-radius: 100px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
}
/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.333333333333334px;
  width: 5px;
  height: 16.666666666666668px;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.2222222222222223px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}
/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -3.3333333333333335px;
  width: 6.666666666666667px;
  height: 12.5px;
}
.fuego:nth-child(1) {
  -webkit-animation: fuego 2s infinite;
}
.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s infinite;
}
.fuego:nth-child(3) {
  -webkit-animation: fuego 1s infinite;
}
.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s infinite;
}
.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s infinite;
}
/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-transform: translateY(-20px) scale(0);
  }
  100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-transform: translateY(0) scale(1);
  }
}
/* ============================================== Frosting
*/
.cobertura {
  background: #ece7e3;
  border-radius: 50px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -27.77777777777778px;
  margin-top: -5px;
  width: 55.55555555555556px;
  height: 12.5px;
  z-index: 10;
}
.cobertura:after,
.cobertura:before {
  background: #ece7e3;
  border-radius: 100px;
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
}
.cobertura:after {
  top: 6.666666666666667px;
  right: 14.285714285714286px;
}
.cobertura:before {
  top: 10px;
  right: 9.090909090909092px;
}
/* ============================================== BIZCOCHO
*/
.bizcocho {
  background: #6d3826;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 33.333333333333336px;
}
.bizcocho:after,
.bizcocho:before {
  background: rgba(236, 231, 227, 0.6);
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
}
.bizcocho:after {
  top: 30%;
  left: 0;
}
.bizcocho:before {
  top: 60%;
  left: 0;
}

/* ###################NAVBAR########################3 */

.navbar1{
    padding: 1rem;
}



.navbar1 .nav-items{
    float: right;
    margin-top: 1rem;
}

.navbar1::after{     /* DOUBTTTTTTTTTTTTT*/
    content: '';
    display: block;
    clear: both;
}

.navbar1 .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
   
}

.navbar1 a:link, 
.navbar1 a:visited{
    color: #f4f4f4;
}

.navbar1 a{
    padding-bottom: 0.3rem;
    text-decoration: none;
    letter-spacing: 2.5px;
    font-size: 1.3rem;
    font-weight: 600;
}

.navbar1 a:hover{
    border-bottom: 1px solid #fff ;
}

/* #############Card styling############## */

.bn{
  visibility: hidden;
}

.bn a{
  color: black;
  font-weight: 550;
}

body {
    background-color: #fdbf00;
  }

  .letterhead{
    text-align: center;
  }

  .card {
    width: 800px;
    height: 600px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 500px;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
  }
  .card:hover {
    transform: rotate(-5deg);
  }
  .card:hover .outside {
    transform: rotateY(-130deg);
  }
  .outside,
  .inside {
    height: 100%;
    width: 70%;
    position: absolute;
    left: 50.1%;
  }
  .inside {
    background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
    line-height: 2;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
  }
  .outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
  }
  .front,
  .back {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
  }
  .front {
    background-color: #ffffff;
  }
  .back {
    transform: rotateY(180deg);
    background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
  }
  .cakef {
    width: 100%;
    position: absolute;
    bottom: 30px;
  }
  .top-layer,
  .middle-layer,
  .bottom-layer {
    height: 80px;
    width: 240px;
    background-repeat: repeat;
    background-size: 60px 100px;
    background-position: 28px 0;
    background-image: linear-gradient(
        transparent 50px,
        #fedbab 50px,
        #fedbab 60px,
        transparent 60px
      ),
      radial-gradient(circle at 30px 5px, #994c10 30px, #fcbf29 31px);
    border-radius: 10px 10px 0 0;
    position: relative;
    margin: auto;
  }
  .middle-layer {
    transform: scale(0.85);
    top: 6px;
  }
  .top-layer {
    transform: scale(0.7);
    top: 26px;
  }
  .candlef {
    height: 45px;
    width: 15px;
    background: repeating-linear-gradient(
      45deg,
      #fd3018 0,
      #fd3018 5px,
      #ffa89e 5px,
      #ffa89e 10px
    );
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 202px;
  }
  .candlef:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #ffa500;
    border-radius: 0 50% 50% 50%;
    bottom: 48px;
    transform: rotate(45deg);
    left: -1px;
  }
  .hb {
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 6px;
    color: #995C68;
    text-decoration: solid;
  }

.hoverme{
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;
    color: black;
}

  .inside p {
    font-size: 12px;
  }

  button {
    position: relative;
    padding: 15px 45px;
    background: #FEC195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 1px solid #FEC195;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
  }
  
  button:hover {
    border: 1px solid #f3b182;
    background: linear-gradient(85deg, #FEC195, #fcc196, #fabd92, #fac097, #fac39c);
    animation: wind 2s ease-in-out infinite;
  }
  
  @keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  .icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all .5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
  }
  
  button:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
  }
  
  @keyframes slay-1 {
    0% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(10deg);
    }
  }
  
  .icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
  }
  
  button:hover .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-2 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(15deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  
  .icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
  }
  
  button:hover .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-3 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }


  @media (max-width:768px){

    
    .mid-heading{
      position: relative;
      top : 20%;
    }

    .card{
      display: none;
     visibility: hidden;
    }

    .bn{
      visibility: visible;
      top: 240px;
      left : 75px;
    }


  }

 