:root {
  --primary: rgba(255,255,255,0.85);
  --light: #d2b863;
  --accent: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--accent);

  & nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem; 

    & .logo { font-size: 1.25rem;  } 
    & .menu { font-size: 1.5rem; }
  }

  & > header {
    position: relative;
    height: 70vh;
    display: grid;
    align-content: center;
    text-align: center;
    gap: 0.5rem;
    font: 1rem helvetica,sans-serif;
    color: #d2b863;

    & p {
      font-size: 0.8rem;
      font-style: italic;
    }

    & span {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateY(-50%);
      width: 13px;
      height: 13px;
      background-color: #ec43375a;
      border-radius: 50%;

      &::before, &::after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        border: 1px solid #ec43375a;
        border-radius: 50%;
        cursor: pointer;
      }

      &::before { left: -18px; }
      &::after  { left: 18px; }
    }
  }
}

footer {
  z-index: 0;
  width: 100%;
  background-color: #ed979175;
  font: 0.75rem helvetica,sans-serif;
  color: var(--light);
  display: flex;
  justify-content: center;
  padding: 3rem 8%;

  & header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--primary);
    padding: 0 2rem;

    & h2 {
      position: relative;
      text-transform: uppercase;

      &::before {
        content: '';
        position: absolute;
        transform: translate(-0.5rem,-0.25rem);
        width: 1rem;
        height: 1rem;
        background-color: var(--accent);
        z-index: -1;
      }
    }

    & p {
      font-style: italic;
      line-height: 1.8;
      color: var(--light);
    }

    & .icon {
      font-size: 1.1rem;
      padding: 0.25rem 0.5rem 0.25rem 0;
      cursor: pointer;
      color: var(--accent);

      &:hover {
        animation: pulse 0.5s;
        color: var(--light);
      }
    }
  }

  & aside {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 0 2rem;

    & ul {
      list-style-type: none;

      & li {
        padding: 0.5rem 0;
        cursor: pointer;
        
        &:hover:not(:first-of-type) {
          animation: pulse 0.5s;
          color: white;
        }
      }

      & li:first-of-type {
        color: var(--primary);
        cursor: default;
      }
    }
  }
}

@keyframes pulse {
  0%,100% {
    transform: translate(0);
  }
  50% {
    transform: translate(-0.1rem,-0.25rem);
  }
}

@media (max-width:800px) {
  footer {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media screen and (max-width:600px) {
  main{
    height: auto;
  }
  aside{
    flex-direction: column;
  }
  h2{
    font-size: 1.5rem;
  }
  header p{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1.5rem;
  }
  li{
    font-size: 1.2rem;
  }
}